.container {  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100px 100px 800px 800px 100px;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "PatternName PatternName PatternName"
    "ShowButton ShowButton ShowButton"
    "CodeTable CodeTable CodeTable"
    "OutputPre OutputPre OutputPre"
    "ExportButton ExportButton ExportButton";
}

.PatternName { grid-area: PatternName; }

.ShowButton { grid-area: ShowButton; }

.CodeTable {  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 800px;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "Code Table";
  grid-area: Code\&Table;
}

.Code {  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px 700px;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "CodeButton"
    "CodePre";
  grid-area: Code;
}

.CodeButton { grid-area: CodeButton; }

.CodePre { grid-area: CodePre; }

.Table {  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 700px 100px;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "TableInput"
    "GenerateButton";
  grid-area: Table;
}

.TableInput { grid-area: TableInput; }

.GenerateButton { grid-area: GenerateButton; }

.OutputPre { grid-area: OutputPre; }

.ExportButton { grid-area: ExportButton; }
