/* 评分表单的容器样式 */
.rating-form {
  max-width: 600px;
  margin: 20px 10px;
  padding: 20px;
  background-color: #f8f8f8;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* 每个评分项的样式，使用 Flexbox 布局 */
.rating {
  display: flex;
  align-items: center; /* 垂直居中对齐 */
  margin-bottom: 20px;
  --stroke: #666;
  --fill: #ffc73a;
}

/* 题目的样式 */
.rating-title {
  margin-right: 20px; /* 与星级评分之间的间距 */
  font-size: 16px;
  font-weight: 600;
  color: #333;
}

/* 星级评分的容器，以保持星星水平排列 */
.rating-stars {
  display: flex;
  flex-direction: row-reverse;

  /* justify-content: flex-start; */
}

/* 隐藏原生单选按钮 */
.rating input[type="radio"] {
  display: none;
}

/* 星星标签的样式 */
.rating label {
  cursor: pointer;
  display: inline-block;
  margin-left: 5px; /* 星星之间的间距 */
}

/* 当单选按钮被选中时，改变星星的颜色 */
.rating input[type="radio"]:checked ~ label svg {
  fill: #ffcc00; /* 金色 */
  transition: 0s;
  animation: idle 4s linear infinite, yippee 0.75s backwards;
  fill: var(--fill);
  stroke: var(--fill);
  stroke-opacity: 0;
  stroke-dasharray: 0;
  stroke-linejoin: miter;
  stroke-width: 8px;
}
@keyframes yippee {
  0% {
    transform: scale(1);
    fill: var(--fill);
    fill-opacity: 0;
    stroke-opacity: 1;
    stroke: var(--stroke);
    stroke-dasharray: 10;
    stroke-width: 1px;
    stroke-linejoin: bevel;
  }

  30% {
    transform: scale(0);
    fill: var(--fill);
    fill-opacity: 0;
    stroke-opacity: 1;
    stroke: var(--stroke);
    stroke-dasharray: 10;
    stroke-width: 1px;
    stroke-linejoin: bevel;
  }

  30.1% {
    stroke: var(--fill);
    stroke-dasharray: 0;
    stroke-linejoin: miter;
    stroke-width: 8px;
  }

  60% {
    transform: scale(1.2);
    fill: var(--fill);
  }
}


/* 星星的默认样式 */
.rating label svg {
  fill: #ccc; /* 灰色 */
  transition: fill 0.2s ease-in-out;
  width: 2rem;
  height: 2rem;
  overflow: visible;
  fill: transparent;
  stroke: var(--stroke);
  stroke-linejoin: bevel;
  stroke-dasharray: 12;
  animation: idle 4s linear infinite;
  transition: stroke 0.2s, fill 0.5s;
}
@keyframes idle {
  from {
    stroke-dashoffset: 24;
  }
}

